node_modules/
test-results/
playwright-report/
playwright-report/*
videos/
trace/
coverage/
.cache/
.idea/
.vscode/
.DS_Store
.env
*.log
npm-debug.log*
package-lock.json
yarn.lock
*.tgz
/.playwright
report/